<!-- views/partials/footer.ejs -->

<div class="container">
    <div class="hidden-footer-container">
        <div class="footer-header">
            <h2 class="contact-header">Say hi.</h2>
        </div>
        <div class="footer-content light-mode-dark">
            <div class="contact-card">
                <div class="contact-info">
                    <div class="contact-email">
                        <a href="mailto:fake@fake.com">fake@<br>fake.com</a>
                    </div>
                    <div class="contact-text">
                        <p>I'm currently studying to become a full stack web developer.
                            I'm looking for an internship position for 5 months starting in January 2021.
                            I'm interested in all thing web development and web design (and videogames). Say hi!<br><br>

                            Anne Kokkonen <br> Helsinki, Finland</p>

                    </div>
                    <div class="contact-links">
                        <a href="https://github.com/nefarious-onion"><i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/anne-kokkonen-b913a11a0/"><i
                                class="fab fa-linkedin"></i></a>
                        <!-- <a href="./assets//webdeveloperbootcamp_august19.pdf" download=""><i
                                class="fas fa-file-pdf"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="contact-img">
            </div>
        </div>
    </div>
</div>