<!-- views/partials/header.ejs -->

<div class="container">
    <div class="logo-bar">
        <div class="logo">
            <p><i class="fab fa-playstation"></i> nefarious_onion</p>
            <h1>
                <i class="fas fa-ghost"></i>
                Anne Kokkonen
            </h1>
        </div>
        <!-- <div class="btn-wrapper">
            <button class="light-switch" id="theme-toggle" onclick="modeSwitcher()"></button>
        </div> -->
    </div>

</div>
<div class="container shadow a">
    <div class="header-content">
        <nav class="top-nav">
            <ul class="nav-list">
                <li id="overview"><a href="index.html">Overview</a></li>
                <li><a href="profile.html">Profile</a></li>
                <li><a href="equipment.html">Equipment</a></li>
                <li><a href="missions.html">Missions</a></li>
                <li><a href="map.html">Map</a></li>
                <li><a href="settings.html">Settings</a></li>
            </ul>
        </nav>
    </div>
</div>