<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')  -%>
</head>
<body>
    <header>
        <%- include('../partials/header.ejs')  -%>
    </header>
    <main>
        <section class="main-content">
            <div class="slideshow-wrapper">
                <ul class="slideshow">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
            </div>
        </section>
    </main>
    <footer>
        <%- include('../partials/footer')  -%>
    </footer>
    
</body>
</html>