<!DOCTYPE html>
<html lang="pl-PL">
    <head>
      <meta charset="utf-8">
      <title>GIPHY</title>
      <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
      <link href='../../public/css/styles.css' rel='stylesheet' type='text/css'>
      <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <form>
            <input id="searchTerm" name="searchTerm" placeholder="search giphy.com" autofocus></input>
            <button id="search-btn" type="submit">search</button>
        </form>
        
        <div id="result">
        </div>
    <script src="../../public/js/main.js" type="text/javascript"></script>
    </body>
</html>