  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
</head>
<body>
    <form method="POST" action="/register/send">
        <div>First name:</div>
        <input type="text" name="firstName" id="firstName" required>
        <div>Last name:</div>
        <input type="text" name="lastName" id="lastName" required>
        <div>Username: </div>
        <input type="username" name="username" id="username" required>
        <div>Password:</div>
        <input type="password" name="password" id="password" required>
        <div>Phone:</div>
        <input type="number" name="phone" id="phone" required>
        <input type="submit" value="Register">
    </form>
</body>
</html>